
<form action="">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Descrição:</p>
    <input type="text" name="titulo">
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar Curso</button>
</form>